.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: snow ;

}
.cardContainer{
  height: 80vh;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 80vw;
  box-shadow: rgba(173, 173, 173) 10px 10px 15px;
}

.cardContainer__left{
  flex: 0.6;
  padding: 2rem;
  text-align: center;
  /* background-image: url("./4.jpeg");
  background-size: cover;
  background-position: center; */
}

.cardContainer__right{
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00488b ;
  color: white;
  flex-direction: column;
  padding-inline: 1.2rem;
  gap: 1.2rem;
}

.cardLeft__heading{
  font-weight: bold;
  font-size: 1.8rem;
}

.inputField{
  padding-inline: 1.3rem;
  padding-block: 0.8rem;
  outline: none;
  border: 1px solid silver;
  border-radius: 10px;
  width: 100%;
}

.inputContainers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
  max-width: 400px;
  margin: 0 auto;
  gap: 1.5rem;
}
.inputRow{
  width: fit-content;
  display: flex;
  gap: 1.2rem;
}

.buttonWithOutline{
  padding: 0.8rem 1.3rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.3rem;
  background: rgb(236, 231, 231);
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid white;

}